{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "partials/layout.njk" %}

{% set pageTitle = applicationName + " - Search by Crn" %}
{% set mainClasses = "intervention-body" %}

{% block content %}

{{ govukBackLink(backLinkArgs) }}
<a class="govuk-link top-right-link" href="">Go to intervention homepage</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-top-8">{{ presenter.text.pageHeading }}</h1>
      <p class="govuk-body govuk-!-margin-top-6">{{ presenter.text.searchDescription }}</p>

      <form method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        {{ govukInput(searchByCrnInputArgs) }}
        {{ govukButton({ text: "Continue", id:"search-for-service-user"}) }}
      </form>
      <p><a class="govuk-link" href="/interventions">See a list of all interventions</a></p>

    </div>
  </div>

{% endblock %}